.vs
Debug
/.recommenders
/.metadata/.lock
/.metadata/.log
/.metadata/.mylyn/repositories.xml.zip
/.metadata/.plugins/org.eclipse.core.resources/.history/1/1033af2f34c100161a11a2b287c5ae0c
/.metadata/.plugins/org.eclipse.core.resources/.history/18/a021621234c100161a11a2b287c5ae0c
/.metadata/.plugins/org.eclipse.core.resources/.history/1c/e05583bd34c100161a11a2b287c5ae0c
/.metadata/.plugins/org.eclipse.core.resources/.history/25/9073f20235c100161a11a2b287c5ae0c
/.metadata/.plugins/org.eclipse.core.resources/.history/3c/b0365cc935c100161a11a2b287c5ae0c
/.metadata/.plugins/org.eclipse.core.resources/.history/48/107ee90434c100161a11a2b287c5ae0c
/.metadata/.plugins/org.eclipse.core.resources/.history/50/500a12d735c100161a11a2b287c5ae0c
/.metadata/.plugins/org.eclipse.core.resources/.history/ac/80cb817c34c100161a11a2b287c5ae0c
/.metadata/.plugins/org.eclipse.core.resources/.history/ae/105ba9aa32c100161a11a2b287c5ae0c
/.metadata/.plugins/org.eclipse.core.resources/.history/c5/00c5094335c100161a11a2b287c5ae0c
/.metadata/.plugins/org.eclipse.core.resources/.history/c5/a0ba0e592fc100161a11a2b287c5ae0c
/.metadata/.plugins/org.eclipse.core.resources/.history/d2/6091891133c100161a11a2b287c5ae0c
/.metadata/.plugins/org.eclipse.core.resources/.history/e3/7045a3c032c100161a11a2b287c5ae0c
/.metadata/.plugins/org.eclipse.core.resources/.history/f/101bcb2b34c100161a11a2b287c5ae0c
/.metadata/.plugins/org.eclipse.core.resources/.history/f7/3089ffd634c100161a11a2b287c5ae0c
/.metadata/.plugins/org.eclipse.core.resources/.projects/TestSerial/.indexes/e4/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/TestSerial/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/TestSerial/.markers
/.metadata/.plugins/org.eclipse.core.resources/.projects/TestSerial/org.eclipse.egit.core/GitProjectData.properties
/.metadata/.plugins/org.eclipse.core.resources/.projects/TestSerial/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.recommenders.completion.rcp.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/.metadata/.plugins/org.eclipse.debug.core/.launches/KeyListenerTester.launch
/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdt
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdx
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fnm
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.frq
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.nrm
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tii
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tis
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments.gen
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fdt
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fdx
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.frq
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.tis
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdt
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdx
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fnm
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.frq
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.nrm
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.prx
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tii
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tis
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments.gen
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/server-config.json
/.metadata/.plugins/org.eclipse.jdt.core/1073870959.index
/.metadata/.plugins/org.eclipse.jdt.core/1189762981.index
/.metadata/.plugins/org.eclipse.jdt.core/1323990760.index
/.metadata/.plugins/org.eclipse.jdt.core/1372530105.index
/.metadata/.plugins/org.eclipse.jdt.core/1512480041.index
/.metadata/.plugins/org.eclipse.jdt.core/1826806781.index
/.metadata/.plugins/org.eclipse.jdt.core/2068080903.index
/.metadata/.plugins/org.eclipse.jdt.core/2149475815.index
/.metadata/.plugins/org.eclipse.jdt.core/2218565504.index
/.metadata/.plugins/org.eclipse.jdt.core/2568757724.index
/.metadata/.plugins/org.eclipse.jdt.core/281593637.index
/.metadata/.plugins/org.eclipse.jdt.core/3437733065.index
/.metadata/.plugins/org.eclipse.jdt.core/3446381434.index
/.metadata/.plugins/org.eclipse.jdt.core/3448027317.index
/.metadata/.plugins/org.eclipse.jdt.core/3503215741.index
/.metadata/.plugins/org.eclipse.jdt.core/3535822081.index
/.metadata/.plugins/org.eclipse.jdt.core/3771339732.index
/.metadata/.plugins/org.eclipse.jdt.core/4120272815.index
/.metadata/.plugins/org.eclipse.jdt.core/640158368.index
/.metadata/.plugins/org.eclipse.jdt.core/713217410.index
/.metadata/.plugins/org.eclipse.jdt.core/732849940.index
/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.2.20150902-0002.xml
/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
/.metadata/version.ini
